:root {
  --color-primary:hsl(257, 40%, 49%);
  --color-secundary: hsl(257, 46%, 18%);
  --color-font: white;
  --font-weight-primary: 400;
  --font-weight-secundary: 700;
  --poppins: 'Poppins', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
}

/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: 'webfonts-icon';
  src:  url('../fonts/webfonts-icon.eot?y1yagu');
  src:  url('../fonts/webfonts-icon.eot?y1yagu#iefix') format('embedded-opentype'),
    url('../fonts/webfonts-icon.ttf?y1yagu') format('truetype'),
    url('../fonts/webfonts-icon.woff?y1yagu') format('woff'),
    url('../fonts/webfonts-icon.svg?y1yagu#webfonts-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'webfonts-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\e900";
}

/*General*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url('../images/bg-desktop.svg');
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  color: var(--color-font);
  font-family: var(--open-sans); 
  font-weight: 400;
  height: 100%
}

h1, h2 {
  font-family: var(--poppins);
  margin: 0;
}

.container-grid {
  display: grid;
  grid-template-columns: [start] 1fr [col1] 1fr [col2] 1fr [col3] 20px [col4] 1fr [col5] 1fr [end];
  grid-template-rows:[start] 50px [row1] 55px [row2] 80px [row3] 50px [row4] 1fr [row5] 60px [end]; 
  margin: auto;
  width: 90%;
}

.btn {
  width: 100%;
  max-width: 170px;
  height: 50px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px var(--color-secundary);
}

.btn, .social-media-icon {
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-font);
}

.social-media-icon:hover {
  background-color: var(--color-font);
  color: var(--color-primary);
  border-radius: 50%;
}

/*Header*/
.landing-header {
  grid-column: start / col1;
  grid-row: row1 / span row2;
  font-size: 18px;
  align-self: center;
  width: 100%;
}

.logo {
  /*width: min-content;*/
}

.logo-img {
  width: 200px;
}

/*Landing Image*/
.landing-container-img {
  grid-column: start / span col3;
  grid-row: row3 / span row5;
  align-self: center;
}

.landing-img {
  max-width: 100%;
  max-height: 100%;
}

/*Landing Info*/
.landing-info {
  grid-column: col4 / span end;
  grid-row: row3 / span row4;
  margin-top: 45px;
  font-size: 16px;
  width: 90%;
  height: min-content;
}
/*[start] 50px [row1] 55px [row2] 80px [row3] 50px [row4] 1fr [row5] 60px [end]*/
.landing-title {
  font-size: 2.3em;
  font-weight: 700;
  text-transform: capitalize;
  width: 90%;
  margin-bottom: 25px;
  line-height: 1.5;
}

.landing-text {
  font-size: 1em;
  line-height: 1.5;
}

.landing-btn {
  font-size: 1.1em;
  font-weight: 400;
  color: var(--color-primary);
  margin-top: 1vh;
}

/*Footer*/
.landing-footer {
  grid-column: col5 / span end;
  grid-row: row5 / span end;
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  justify-content: space-evenly; 
  height: 100%;
  align-items: end;
}

.social-media-icon {
  font-size: 1.2em;
  color: var(--color-font);
  justify-self: end;
}

.social-media-icon i { /*Esto le agrega el circulo alrededor del icon*/
  display: inline-block;
  padding: 0.5em 0.6em;
  border-radius: 50%;
  box-shadow: 0 0 2px var(--color-font);
}
